<div class="wrapper">
  <header>
    <div id="site-title"><a href="http://chadblack.net">chad_black</a></div>
    <div id="site-description"><em>a latin american history prof</em></div>
  </header>

  <nav>
     <a href="/">home</a>  |  <a href="/cv">c.v.</a> | <a
     href="/teaching">teaching</a> | <a href="/research">research</a> | <a
     href="https://chadblack.net/blog/">blog</a> | 
  </nav>
<!--
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
-->
</div>
